[html]
directory = coverage

[xml]
output = coverage.xml

[run]
concurrency = multiprocessing
parallel = true
sigterm = true
omit = tests/*

[report]
exclude_lines = 
    if __name__ == .__main__.:
    return
    def fetch_deepseek_response
    def deepseek_stream_response
    instrumentator.expose(app)*
    @field_validator
    deepseek_payload
    pass
    yield
    logger.*
    response = await call_next(request)*
omit = 
    tests/*
    app/config/graylog.py