fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
pytest-cov
pytest
pdfplumber==0.11.5
pymupdf
google-cloud-storage
python-multipart
python-docx==1.1.2
slowapi>=0.1.9
pytest-benchmark==5.1.0
python-docx==1.1.2
openai==1.65.4
pytest-asyncio
ollama>=0.4.7
google-genai>=1.4.0
uvicorn
sqlmodel
pgvector